body {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgb(0, 0, 0.5)) , url('https://wallpapercave.com/wp/wp4056285.jpg');
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    color: #eb2f06;
}

.header a.active {
    background-color: #eb2f06;
    color: white;
}

.header-right {
    float: right;
    margin-right: 20px;
}

@media screen and (max-width: 580px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: left;
        margin-top: 20px;
        margin-left: 20px;
    }
}

h1{
    margin-left: 5px;
    margin-right: 10px;
    color: white;
}

h2{
    text-align:center;
    color: white;
}

h3{
    text-align:center;
    color: white;
}

h4 {
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:30px;
    color: white;
}

h5 {
    text-align: center;
    padding: 20px;
    color: white;
}

h6 {
    text-align: left;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align:center;
    color: white;
}

.prombanner {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align:left;
    color: white;
}
        
.menu div {
    max-width: 100%;
    position: inherit;
    padding: 1%;
    height: 500px;
    box-sizing: border-box;
    margin-bottom: 100px;

}

.menu p {
    padding: 20px;
}

.left-col, .right-col {
    width: 33.3%;
    float: left;
}

.center-col {
    width: 33.3%;
    float: left;
}

.social-media div {
    max-width: 100%;
    padding: 1%;
    height: 500px;
    box-sizing: border-box;
}

.section-title {
    font-size: 28px;
    padding-top: 40px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.instagram, .twitter {
    width: 33.3%;
    float: left;
}

.facebook {
    width: 33.3%;
    float: left;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}

footer {
    width: 100%;
    clear: both;
}

footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content p,a{
    color: #fff;
}

footer .content .box{
    width: 33.3%;
    transition: all 0.4s ease;
}

footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
}

footer .content p{
    text-align: justify;
}

footer .content .lower .topic{
    margin: 24px 0 5px 0;
}

footer a{
transition: all 0.3s ease;
}

footer a:hover{
color: #eb2f06;
}

.content .right{
    float: right;
}

@media (max-width:560px){
    footer .content .box{
        width: 50%;
    }
    .content .right {
        margin-top: 20px;
    }
}

@media screen and (max-width:560px){
    footer{
        position: relative;
    }

    footer .content .box{
        width: 100%;
        margin-top: 30px;
    }
}

.responsive {
    width: 100%;
    height: auto;
}

.promo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.8;
}

.ourpromo {
    padding: 30px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.aboutus {
    padding: 40px 10px;
}
